spring:
  profiles:
    active: local

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        default-requeue-rejected: false
        concurrency: 3       # 최소 소비자(스레드) 수
        max-concurrency: 10  # 최대 소비자(스레드) 수
        prefetch: 1

  data:
    redis:
      address: "http://127.0.0.1:6379"
server:
  port: 8083
